
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #0a0e2a;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
}

#header {
  background-color: #0a0e2a;
  padding: 20px;
  text-align: center;
}

#header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  color: #2eb9df;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header img {
  width: 80%;
  height: auto;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #2eb9df;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  box-shadow: 0 0 5px rgba(46, 185, 223, 0.3);
  background-color: #121a3a;
  text-align: center;
  color: #fff;
  cursor: cell;
}

a {
  text-decoration: none;
  color: #2eb9df;
  width: 50px;
  height: 50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
  font-family: 'Poppins', sans-serif;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.form__input:hover {
  cursor: cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(46, 185, 223, 0.6);
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2eb9df;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 15px;
  background-color: #070b1f;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer p {
  margin: 0;
  font-weight: 400;
}

#canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#popularSites img {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
}

#popularSites img:hover {
  transform: scale(1.1);
}

#bigTitle img {
  width: 75vw;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #2eb9df;
}

.fa:hover {
  color: #5fc8e6;
}
